body {
	background-color: #ebf8ff;
}

.registration {
  align-content: center;
  justify-content: center;
  max-width: 40rem;
  margin: auto;
  

}

.head {
	border-top: 10px solid #4285F4;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    padding: 30px;
    margin: 5px;
    width: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.head > h1 {
	font-size: 30px;
}

span {
  color: red;
}

.email, .name,.number, .fee, .fees, .location, .school {
	
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
	padding: 30px;
	background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: auto;
}

.fee, .fees {
	height: auto;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	margin-top: 15px;
}

.kin {
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
	padding: 30px;
	background-color: #fff;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.join, .about {
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
  width: auto;
	padding: 30px;
	background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.join input {
  width: 100%;
}
#footer > input {
	height: 35px;
	background-color: #287cfb;
	color: #fff;
	border-radius: 10px;
  padding: 10px 30px;
}
.page > ul > li{
	list-style: none;
	float: right;
	
}